@charset "utf-8";
body{
	background:#fbfbfb;
}
header{
	width: 100%;
	max-width: 1533px;
	height: auto;
	overflow: hidden;
	margin:0 auto;
	border-bottom: 1px solid #7ec08a;
}
.top{
	width: 1000px;
	height: 100px;
	margin: 0 auto;
}
.top img:first-child{
	width: 166px;
	height: 70px;
	margin-top: 12px;
}
.top img:last-child{
	width: 204px;
	height: 46px;
}
section{
	width: 100%;
	max-width: 1533px;
	height: auto;
	overflow: hidden;
	margin:0 auto;	
}
section .section_top{
	width: 1000px;
	height: 60px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	 
}
section .section_top span{
	font: 18px Microsoft YaHei;
	font-weight: bolder; 
}
section .section_top p{
	font: 14px Microsoft YaHei;
}
section .section_top p a{
	color:#53a9e8;
}
section .section_main{
	width: 1000px;
	height: 550px;
	margin: 0 auto;
	background: #fff;
	border: 1px solid #e5e5e5;

}
section .section_main .maintop{
	width: 1000px;
	height: 80px;
	background-image:linear-gradient(to top,#fff,#f3f8f1);

}
section .section_main .maintop ul:first-child{
	width: 930px;
	height: 40px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	align-items: center;
	font: 16px Microsoft YaHei;
}
section .section_main .maintop ul:last-child{
	width: 885px;
	height: 34px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
section .section_main .register{
	width: 780px;
	height: 470px;
	float: left;
	position: relative;
}
section .section_main .register ul:nth-of-type(1){
	width: 310px;
	height: 220px;

	margin: 50px 0 0 50px;
}
section .section_main .register ul:nth-of-type(1) li input:focus{
	border: 1px solid #6ed814;
}
section .section_main .register ul:nth-of-type(1) li{
	width: 310px;
	height: 32px;
	margin-bottom: 23px;
	display: flex;
	align-items: center;
}
section .section_main .register ul:nth-of-type(1) li label{
	font: 16px Microsoft YaHei;
	font-weight: bolder;
}
section .section_main .register ul:nth-of-type(1) li input{
	border: 1px solid #e7e7e7;
	margin-left: 12px;
	width: 230px;
	height: 32px;
	font: 16px Microsoft YaHei;
	color:#a9a9a9;
}
section .section_main .register ul:nth-of-type(1) li img{
	position: absolute;
	left: 340px;
	top: 58px;	
}
section .section_main .register ul:nth-of-type(2){
	width: 220px;
	height: 220px;
	position: absolute;
	top: 50px;
	left: 338px;
}
section .section_main .register ul:nth-of-type(2) li{
	width: 310px;
	height: 32px;
	margin-bottom: 23px;
	display: flex;
	align-items: center;
}
section .section_main .register ul:nth-of-type(2) li>span{
	width: 194px;
	height: 25px;
	background: #fff6cf;
	border: 1px solid #ffbb27;
	box-sizing: border-box;
	color: #ffae66;
	display:none;
	padding-top: 5px;
}
section .section_main .register ul:nth-of-type(2) li img:nth-of-type(1){
	margin-right: 12px;
}
section .section_main .register ul:nth-of-type(2) li img:nth-of-type(2){
	margin-left: 25px;
}
section .section_main .register ul:nth-of-type(2) li>img{
	display: none;
}
section .section_main .register ul:nth-of-type(2) li>span img{
	width: 12px;
	height: 12px;
	margin-left: 7px;
	margin-right: 8px;
}
section .section_main .register p:nth-of-type(1){
	height: 32px;
	width: 460px;
	
	margin-left: 30px;
}
section .section_main .register p:nth-of-type(1) label{
	font: 16px Microsoft YaHei;
	font-weight: bolder;
}
section .section_main .register p:nth-of-type(1) input{
	border: 1px solid #e7e7e7;
	margin-left: 12px;
	margin-right: 30px;
	width: 130px;
	height: 32px;
	font: 16px Microsoft YaHei;
	color:#a9a9a9;
}
section .section_main .register p:nth-of-type(1) img{
	margin-right: 12px;
}
section .section_main .register p:nth-of-type(1) span a{
	color:#90bdef;
}
section .section_main .register p:nth-of-type(2){
	margin-left: 120px;
	margin-top: 32px;
}
section .section_main .register p:nth-of-type(2) label{
	font: 14px Microsoft YaHei;
	font-weight: bolder;
}
section .section_main .register p:nth-of-type(2) a{
	font: 14px Microsoft YaHei;
	font-weight: bolder;
	color:#a7b8eb;
}
section .section_main .register button{
	margin-left: 120px;
	margin-top: 30px;
	padding: 8px 34px;
	border-radius: 4px;
	font: 16px Microsoft YaHei;
	color: #fff;
	background: #ff9000;
}
section .aside{
	width: 200px;
	height: 396px;
	float: right;
	border: 1px solid #dcdcdc;
	text-align: center;
	padding-top: 25px;
	margin-top: 45px;
	margin-right: 20px;
	box-sizing: border-box;
}
section .aside img:nth-of-type(2){
	margin: 20px 0 20px 0;
}
footer{
	width: 100%;
	max-width: 1533px;
	height: auto;
	overflow: hidden;
	margin:0 auto;	
}
footer .footer1{
	width: 1000px;
	height: 105px;
	margin:0 auto;
	border-bottom: 1px solid #eeeeee;
	text-align: center;
	padding-top: 75px;
	box-sizing:border-box;
}
footer .footer1 ul{
	width: 600px;
	height: 16px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
footer .footer1 ul li{
	text-align: center;
	width: 120px;
	border-right:1px solid #dadada;
	font-weight: bold;
	font: 16px Microsoft YaHei;
}
footer .footer1 ul li:last-child{
	border-right:none;
}
footer .footer2{
	width: 1000px;
	margin: 0 auto;
	height: 123px;
	text-align: center;
	padding-top: 20px;
	box-sizing:border-box;
}
footer .footer2 p{
	font: 12px Microsoft YaHei;
	width: 450px;
	text-align: center;
	margin: 0 auto;
}
footer .footer2 p span{
	color:#9fa6ad;
}

/*验证错误时 input边框样式*/
.error{
	border: 1px solid #fd874c;
}